body {
    background-color: #F6F6F6;
}

.browse {
    background-color: #DADADA;
    padding: 10px 30px;
    width: 750px;
    height: 40px;
    border-radius: 40px;
    border: 0px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.browse:hover {
    border: 3px solid #acacac;
}

.filterAndInputAndStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.picture {
    position: relative;
}

.circle, .ring-ring {
    position: absolute;
}

.status {
    display: flex;
    flex-direction: row;
}

.slider {
    position: relative;
    background-color: #FFFFFF;
}

.slides {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide button {
    border: 0px;
    background-color: #FFFFFF;
}

.slide button:hover {
    background-color: #AC8F64;
    border: 1px solid #000000;
}

.up, .down {
    
}